<nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded">
    <div class="container-fluid">
        <span class="w-100 d-lg-none d-block">
            <!-- hidden spacer to center brand on mobile -->
        </span>
        <a class="navbar-brand{% if page.nav_active == 'home' %} active{% endif %}"{% if page.nav_active == 'home' %} aria-current="page"{% endif %} href="index.html">Thomas Wong Hearing</a>
        <div class="text-end">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#myNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse text-end" id="myNavbar">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link m-2{% if page.nav_active == 'about' %} active{% endif %}"{% if page.nav_active == 'about' %} aria-current="page"{% endif %} href="twwh01-about.html">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link m-2{% if page.nav_active == 'research' %} active{% endif %}"{% if page.nav_active == 'research' %} aria-current="page"{% endif %} href="twwh01-research.html">Research</a>
                </li>
                <li class="nav-item m-2 dropdown">
                    <a class="nav-link dropdown-toggle{% if page.nav_active == 'outputs' %} active{% endif %}"{% if page.nav_active == 'outputs' %} aria-current="page"{% endif %} href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Outputs</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <div class="container-fluid">
                            <li class="nav-item"><a class="nav-link" style="color: black;" href="./twwh01-outputs.html">Overview</a></li>
                            <li class="nav-item"><a class="nav-link" style="color: black;" href="./twwh01-outputs.html#Preprints">Preprints</a></li>
                            <li class="nav-item"><a class="nav-link" style="color: black;" href="./twwh01-outputs.html#Pubs">Peer-reviewed papers</a></li>
                            <li class="nav-item"><a class="nav-link" style="color: black;" href="./twwh01-outputs.html#Data">Datasets</a></li>
                            <li class="nav-item"><a class="nav-link" style="color: black;" href="./twwh01-outputs.html#Comms">Other articles</a></li>
                            <li class="nav-item"><a class="nav-link" style="color: black;" href="./twwh01-outputs.html#InvTalks">Invited talks</a></li>
                            <li class="nav-item"><a class="nav-link" style="color: black;" href="./twwh01-outputs.html#ConfPres">Conference presentations</a></li>
                        </div>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link m-2{% if page.nav_active == 'outreach' %} active{% endif %}"{% if page.nav_active == 'outreach' %} aria-current="page"{% endif %} href="twwh01-outreach.html">Outreach</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link m-2{% if page.nav_active == 'teaching' %} active{% endif %}"{% if page.nav_active == 'teaching' %} aria-current="page"{% endif %} href="twwh01-teaching.html">Teaching</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link m-2{% if page.nav_active == 'contact' %} active{% endif %}"{% if page.nav_active == 'contact' %} aria-current="page"{% endif %} href="twwh01-contact.html">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
